MSI制作工具/App/ProgramFiles/resources/appx/AppX/10/AppxPhoneManifestSchema2014.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:pm="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           >
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>

  <!--Phone Identity-->
  <xs:element name="PhoneIdentity">
    <xs:complexType>
      <xs:attribute name="PhoneProductId" type="t:ST_GUID" use="required"/>
      <xs:attribute name="PhonePublisherId" type="t:ST_GUID" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
