MSI制作工具/App/ProgramFiles/resources/appx/AppX/10/DesktopManifestSchema_v5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           xmlns="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:element name="Extension" substitutionGroup="f:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="Service" type="CT_Service"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_Desktop5" use="required"/>
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_Service">
    <xs:sequence minOccurs="0">
      <xs:element name="Dependencies" type="CT_Dependencies" maxOccurs="10000" />
    </xs:sequence>
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required"/>
    <xs:attribute name="StartupType" type="ST_StartupType" use="required"/>
    <xs:attribute name="StartAccount" type="ST_StartAccount" use="required"/>
    <xs:attribute name="Arguments" type="t:ST_NonEmptyString"/>
  </xs:complexType>
  
  <xs:complexType name="CT_Dependencies">
    <xs:sequence minOccurs="0" maxOccurs="10000">
      <xs:element name="DependentService" type="CT_DependentService"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CT_DependentService">
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ST_StartAccount">
    <xs:restriction base="xs:string">
      <xs:enumeration value="localService"/>
      <xs:enumeration value="networkService"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_StartupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="manual"/>
      <xs:enumeration value="disabled"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:attribute name="ThumbnailTypeOverlay" type="t:ST_ImageFile"/>

  <xs:element name="ItemType">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="Verb" maxOccurs="10000">
          <xs:complexType>
            <xs:attribute name="Id" type="t:ST_FileTypeAssociationSupportedVerbId" use="required" />
            <xs:attribute name="Clsid" type="t:ST_GUID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Type" type="ST_FileTypeOrStarWithDirectory" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_FileTypeOrStarWithDirectory">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:pattern value="(\*|(\.[^.\\]+))"/>
      <xs:pattern value="Directory"/>
      <xs:pattern value="Directory\\Background"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="AppTabBehavior">
    <xs:complexType>
      <xs:attribute name="TitleBarPreference" type="ST_TitleBarPreference" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_TitleBarPreference">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="untabbed"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>

